
.intro-state-image {
    width: 70px;
    height: 10px;
}
.import-all-button {
    width: 95px;
    background: url('https://plugin.pond5.com/pond5_shared/images/import-all-button-sprite.png') no-repeat top;
    background-size: 95px 42px;
}