body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #212121;
}
/*remove outline when elements have been clicked*/
*:focus {
    outline: 0 !important;
}
*:not(.avatar) {
    border-radius: 0 !important;/*except for .avatar*/
}

::-webkit-scrollbar { width: 10px; background-color:#1d1d1d; }
::-webkit-scrollbar-thumb {
    background-color: #313131;
    border-radius: 9px;
    border: 2px solid transparent;
    background-clip: content-box;
}

/*fonts*/

@font-face {
    font-family: 'OS bold';
    src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'OS semibold';
    src: url('../fonts/OpenSans-Semibold.ttf');
}
@font-face {
    font-family: 'OS regular'; 
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Calibre bold';
    src: url('../fonts/Calibre-Bold.otf');
}

@font-face {
    font-family: 'Droid serif';
    src: url('../fonts/DroidSerif.ttf');
}
/*end fonts*/

/*generic style for several vertical lines*/
.vertical-line {
    width: 1px; 
    background-color: #1a191a; 
}

/*BOOTSTRAP*/

/*modals*/
.modal-title {
    font-family: 'Droid serif';
    font-size: 21px;
    color: white;
    font-weight: lighter;
}
.modal-subtitle {
    font-family: 'Droid serif';
    font-size: 16px;
    color: white;
}
.modal-message {
    font-family: 'OS regular';
    font-size: 14px;
    color: white;
}
.modal-message-guide {
    min-height:180px;
    margin-bottom:-30px;
}
.modal-message-guide-text {
    width: 320px;
}
.modal-message-guide-text br  {
  content: " ";
  display: block;
  margin: 8px;
}
.modal-label {
    font-family: 'OS regular';
    font-size: 14px;
    color: white;
    font-size: 12px;
}
.modal-fit .modal-dialog {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 10px;
}
.modal-fit .modal-body{
    height: 60vh;
    overflow: auto;
    font-family: 'OS regular';
    font-size: 12px;
    color: 
}
.modal-header {
    text-align: center;
    padding: 45px 35px 14px 35px;
    border-style:none;
}
.modal-body {
    padding: 0px 35px 7px 35px;
    text-align: center;
    max-height: 160px;
    overflow-x: hidden;
}
.modal-footer {
    text-align: center;
    padding: 0px 35px 35px 35px;
    border-style:none;
}
.modal-content {
  background-color: #262626;
}
.modal-small .modal-dialog {
    width: 410px;
}
.modal-large .modal-dialog {
    width: 644px;
}
.modal-intro .modal-dialog {
    top: 100px;
    width: 644px;
}
.modal-choose-billing .modal-dialog {
    width: 650px;
}
.modal-replace .modal-dialog {
    width: 628px;
}
.modal-billing-address .modal-dialog {
    width: 690px;
}
.modal-backdrop {
    opacity:0.8 !important;
}
.modal-close-icon{
    position: absolute;
    right: 15px;
    top:15px;
    width: 11px;
    height: 11px;
    border: none;
    outline: none;
    background: url('../images/modal-close-icon-sprite.png') top;
    background-color: transparent;
    background-size: 11px;
}
.modal-close-icon:hover{
    background-position: center bottom;
    cursor: pointer;
}
.modal-body-radiobuttons {
    margin-left: 0px;
    text-align: left;
}
.modal-body-replace {
    margin-left: -20px;
}
.label-modal span {
    /*override checkbox label style in filters*/
    font-size: 12px;
    font-family: 'OS regular';
    color: #8a8a8a;
}
/* end modals*/

/*buttons*/
.btn:hover, 
.btn:focus, 
.btn:active,
.btn:disabled {
    outline: none;
    outline-style:none;
    box-shadow:none;
}

.btn {
    font-family: 'OS bold';
    color: white;
    font-size: 14px;
    height: 37px; 
    width: 120px;
    min-width:120px;
    border:none;
}

.btn-primary {
    background-color: #0f81ff;
    border-color: #0f81ff;
    color: white;
    width:auto;
}
.btn-primary:hover {
    background-color: #0f81ff;
    border-color: #0f81ff;
}
.btn-primary:active {
    background-color: #0f81ff;
    border-color: #0f81ff;
}
.btn-primary:disabled {
    background-color: #0f81ff;
    border-color: #0f81ff;
}
.btn-primary:focus{
    background-color: #0f81ff;
    border-color: #0f81ff;
}

.btn-danger {
    background-color: #a2a2a2;
    border-color: #a2a2a2;
    color: white;
}
.btn-danger:hover {
    background-color: #a2a2a2;
    border-color: #a2a2a2;
    color: white;
}
.btn-danger:active {
    background-color: #a2a2a2;
    border-color: #a2a2a2;
    color: white;
}
.btn-danger:disabled {
    background-color: #a2a2a2;
    border-color: #f5f5fa2a2a25;
    color: white;
}
.btn-danger:focus{
    background-color: #a2a2a2;
    border-color: #a2a2a2;
    color: white;
}

/*end buttons*/

/* DROPDOWNS */
.dropdown {
   text-align: right;
}
.dropdown-header { /*selected item*/
    border: none;
    outline: none;
    text-align: left;   
    font-size: 12px;
}
.search-dropdown-container{
    position: absolute;
    margin-left: 422px;
    margin-top: -39px;
    display: -webkit-flex;
    -webkit-flex-direction: row;
}
.dropdown-header-media { 
    height: 39px;
    border:0;
    min-width: 118px;
    max-width: 118px;
    color: #6a6a6a;
    background-color: white;
    padding-left: 12px;
}
.dropdown-toggle-media {
    min-width: 38px;
    max-width: 38px; 
/*     margin-top: -1px;*/
    height: 39px;
    color: #6a6a6a;
    background-color: white;
}
.dropdown-header-filter {
    min-width: 80px;
    max-width: 80px;
    height: 40px;
    background-color: #212121;
    color: #d4d4d4;
    padding-left: 12px;
}
.dropdown-header-bins { 
    min-width: 126px;
    max-width: 126px;
    height: 47px;
    background-color: #353535;
    color: #ccc;
}

.dropdown-header:hover,
.dropdown-header:active,
.dropdown-header:focus {
    border: none;
    outline: none;
    cursor: default;
}
.dropdown-header-media:focus,
.dropdown-header-media:hover,
.dropdown-header-media:active {
    color: #6a6a6a;
}
.dropdown-header-filter:focus,
.dropdown-header-filter:hover,
.dropdown-header-filter:active {
    background-color: #212121;
    color: #d4d4d4;
}
.dropdown-header-bins:focus,
.dropdown-header-bins:hover,
.dropdown-header-bins:active {
    background-color: #353535;
    color: #ccc;
}
.dropdown-toggle {
    border: none;
    outline: none;
}
.dropdown-toggle-filter {
    min-width: 30px;
    max-width: 30px; 
    height: 38px;
    color: #d4d4d4;
    background-color: #212121;
}
.dropdown-toggle-bins {
    height: 47px;
    width: 47px;
    min-width: 47px;
    max-width: 47px;
    background-color: #353535;
    color: #ccc;
}
.dropdown-toggle-media:hover,
.dropdown-toggle-media:active,
.dropdown-toggle-media:focus {
    color: #6a6a6a;
    background-color: white;
}
.dropdown-toggle-filter:hover,
.dropdown-toggle-filter:active,
.dropdown-toggle-filter:focus {
    color: #d4d4d4;
    background-color: #212121;
}
.dropdown-toggle-bins:hover,
.dropdown-toggle-bins:active,
.dropdown-toggle-bins:focus {
    background-color: #353535;
    color: #ccc;
}
.dropdown-menu {
    max-height: 250px;
    margin-top: 1px;
    margin-bottom: 0px;
    border: none;
    overflow-y: scroll;
    padding-top:15px;
    padding-bottom:15px;
    font-family: 'OS semibold';
}
.dropdown-menu-media {
    width: 117px;
    min-width: 117px;
    max-width: 117px;
    background-color: white;
    color: black !important;
    overflow: hidden;
}
.dropdown-menu-filter {
    width: 130px;
    min-width: 110px;
    max-width: 110px;
    margin-top: 4px;
    margin-left: 8px;
    background-color: #2d2d2d;
    color: #d4d4d4;
    overflow: hidden;
}
.dropdown-menu-bins {
    width: 216px;
    min-width: 216px;
    max-width: 216px;
    padding-top:15px;
    padding-bottom:15px;
    margin-top: 20px;
    margin-bottom: -20px;
    background-color: #353535;
    color: #ccc;
}
.dropdown-menu>li {
    padding:3px; 
    margin-left: 0px;
    font-size: 12px;
    color: #d4d4d4;
    border:none;
}
.dropdown-menu li>a {
    text-align: left;
    padding-left: 12px;
}
.dropdown-menu-media li>a {
    color:#6a6a6a; 
}
.dropdown-menu-filter li>a {
    color: #d4d4d4;
}
.dropdown-menu-bins li>a {
    color:#ccc; 
}
.dropdown-menu li>a:hover {
    cursor: pointer;
    font-family: 'OS bold';
}
.dropdown-menu-media li>a:hover {
    background-color: white;
    color: #6a6a6a;
}
.dropdown-menu-filter li>a:hover {
    background-color: #2d2d2d;
    color: #d4d4d4;
}
.dropdown-menu-bins li>a:hover {
    background-color: #353535;
    color: #ccc;
}
/* end DROPDOWNS*/
/*END BOOTSTRAP*/



.choose-format-format {
    width: 80px;
}
.choose-format-price {
    position: absolute;
    width: 80px;
    margin-left: 20px;
}
.choose-format-button {
    position: absolute;
    margin-left: 140px;
    background: none;
    border: none;
    color: #d4d4d4;
    font-family: "OS semibold";
    font-size: 12px;
    text-decoration: underline;
}
.choose-format-button:hover {
    color: white;
}


/* INTRO */

.intro-asset-search {
    position: fixed;
    left: 152px;
    top: 1px;
    width: 463px;
    height: 38px;
    background: url('../images/intro-assets/intro-asset-search.png') no-repeat;
    z-index:5000;
}
.intro-asset-search-AE {
    position: fixed;
    left: 152px;
    top: 1px;
    width: 463px;
    height: 38px;
    background: url('../images/intro-assets/intro-asset-search-ae.png') no-repeat;
    z-index:5000;
}
.intro-asset-filters {
    position: fixed;
    left: 0px;
    top: 40px;
    width: 45px;
    height: 262px;
    background: url('../images/intro-assets/intro-asset-filters.png') no-repeat;
    z-index:5000;
}
.intro-asset-dest {
    position: fixed;
    left: 22px;
    bottom: 58px;
    width: 21px;
    height: 21px;
    background: url('../images/intro-assets/intro-asset-dest.png') no-repeat;
    z-index:5000;
}
.intro-asset-collections {
    position: fixed;
    left: 157px;
    bottom: 0px;
    width: 228px;
    height: 122px;
    background: url('../images/intro-assets/intro-asset-collections.png') no-repeat;
    z-index:5000;
}
.intro-asset-checkout {
    position: fixed;
   right: -185px;
    bottom: -65px;
    width: 377px;
    height: 110px;
    background: url('../images/intro-assets/intro-asset-checkout.png') no-repeat;
    z-index:5000;
}
.intro-asset-login {
    position: fixed;
    right: 7px;
    top: 16px;
    width: 97px;
    height: 35px;
    background: url('../images/intro-assets/intro-asset-login.png') no-repeat;
    z-index:5000;
}
.intro-asset-arrow-up {
    position: fixed;
    width: 30px;
    height: 17px;
    background: url('../images/intro-assets/arrow_up.png') no-repeat;
    background-size: 30px 17px;
    z-index:5000;
}
.intro-asset-arrow-left {
    position: fixed;
    width: 17px;
    height: 30px;
    background: url('../images/intro-assets/arrow_left.png') no-repeat;
    background-size: 17px 30px;
    z-index:5000;
}
.intro-asset-arrow-down {
    position: fixed;
    width: 30px;
    height: 17px;
    background: url('../images/intro-assets/arrow_down.png') no-repeat;
    background-size: 30px 17px;
    z-index:5000;
}

.intro-state-icon {
    width:auto;
    height:auto;
    margin-bottom: 10px;
}
/*TOP ROW */
.row-top {
    position: fixed;
    top: 0px;
    background-color: #262626; 
    height: 41px; 
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #1d1d1d;
    z-index: 4;
}
.row-top-loggedout {
    min-width: 770px; 
}
.row-top-loggedin {
    min-width: 800px;
}
.row-top-header {
    width: auto;
    height: 40px;
    float: left;
}
.header-logo {
    float: left;
    margin-left: 17px;
    
}
.logo-reg {
    margin-top: 15px;
}
.logo-tp {
    margin-top: 9px;
}
.search-input {
    font-size: 14px;
    font-family: 'OS regular';
    margin-left: 56px;
    margin-right: -5px;
    padding: 12px 20px 12px 16px;
    outline: 0;
    background: transparent;
    background-color: white;
    color: #6a6a6a;
    height: 37px;
    border: none;
    
}
.search-input-reg {
    width: 270px;
}
.search-input-tp {
    width: 180px;
}
.button-search {
    margin-left: 0px;
    height: 39px;
    width: 40px;
    border: none;
    background: url('../images/search-icon-sprite.png') top;
}
.button-search:hover {
    background-position: bottom;
    cursor: pointer;
}
.top-row-right{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 150px;
}
.log-buttons{
    position: absolute;
    top: 10px;
    background: none;
    border: none;
    color: #8a8a8a;
    font-family: "OS semibold";
    font-size: 12px;
}
.log-buttons:hover{
    color: white;
}
.login-button {
    margin-left: 40px;
}
.avatar {
    position: absolute;
    margin-left: 60px;
    top: 8px;
    width: 23px;
    height: 23px;
    border-radius: 14px;
    border-color: #ff0000;
    border-width: thick;
    border: 1px solid #cccccc;
}
.vertical-line-cart-top-right{
    position: absolute;
    height: 36px;
    background-color: #1d1d1d; 
    margin-left: 96px;
}
.button-cart {
    position: absolute;
    margin-left: 104px;
    width: 24px;
    height: 20px;
    border: none;
    background-color: transparent;
}
.button-cart-logged-in {
    top: 11px;
}
.button-cart-logged-out {
    top: 6px;
}
.button-cart-icon {
    width: 16px;
    height: 11px;
    margin-top: 7px;
 
}
.button-cart-text {
    position: absolute;
    font-family: 'OS regular';
    font-size: 12px;
    line-height: 11px;
    color: #ff43c5;
    margin-top: -25px;
    text-align: center;
    width: 16px;
}
.vertical-line-search{
    height: 20px; 
    margin-top: 10px;
    margin-left:-1px;
    float: left;  
    background-color: #6a6a6a;
}
.vertical-line-subrow{
    height: 22px; 
    margin-top: 10px;
    margin-left:8px;
    float: left;  
    background-color: #464646;
}
.vertical-line-arrow{
     height: 20px; 
    margin-top: 10px;
    margin-left:-1px;
    float: left;
    margin-left: 0px; 
}
.vertical-line-sell{
    height: 40px;
    background-color: red; 
    margin-left: 15px;
    float: left; 
}

.vertical-line-logout{
    position: absolute;
    height: 40px;
    background-color: greenyellow; 
    margin-left: 165px;
}

/* SUB TOP ROW */
.sub-top-row {
    position: fixed;
    top: 40px;
    width: 100%;
    min-width: 708px;
    height: 44px;
    background-color: #212121;
    z-index: 2;
}
.sub-top-row-title {
    float:left;
    margin-top: 14px;
    margin-right: 20px;
    font-family: 'OS bold';
    font-size: 14px;
    color: #8a8a8a;
}
.sub-top-row-title-no-filters {
    margin-left: 77px;
}
.sub-top-row-title-filters {
    margin-left: 304px;
}
.clear-cart-button{
    margin-top: 14px;
    margin-left: 29px;
    background: none;
    border: none;
    color: #d4d4d4;
    font-family: "OS semibold";
    font-size: 12px;
    text-decoration: underline;
}
.clear-cart-button:hover{
    text-decoration: none;
  
}
.clear-cart-trash-icon {
    width: 14px;
    height: 16px;
    margin-right: 6px;
    margin-top: -4px;
}
.credits-wrapper {
    position: absolute;
    top: 14px;
    right: 28px;
    color: #d4d4d4;
    font-family: "OS semibold";
    font-size: 12px;
    display: -webkit-flex;
    -webkit-flex-direction: row;
}
.buy-credits-button{
    background: none;
    border: none;
    text-decoration: underline;
}
.credits-text {
    margin-top: 2px;
    width: auto;
    margin-left: 15px;
    text-align: right;
}
.dropdown-filter{
    position: absolute;
    top:0px;
    right:20px;
}
.sub-top-row-button {
    position: absolute;
    top:10px;
    right:20px;
    height: 21px;
     border: none;
}

.sub-top-row-button:hover:enabled {
    background-position: bottom;
    cursor: pointer;
}
.sub-top-row-button:disabled {
   opacity:.6;
}
.import-all-button {
    width: 95px;
    background: url('../images/import-all-button-sprite.png') no-repeat top;
    background-size: 95px 42px;
}
.download-all-button {
    width: 116px;
    background: url('../images/download-all-button-sprite.png') no-repeat top;
    background-size: 116px 42px;
}
/* ADVANCED SEARCH AKA FILTERS*/
.advanced-search {
    position: fixed;
    top: 40px;
    left: 56px;
    width: 240px;
    height: 100%;
    background-color: #262626;
    border: none;
    border-right: 1px solid #1d1d1d;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 4;
}

.filters-top-row {
    margin-top: 21px;
    margin-left: 14px;
    margin-bottom: 66px;
}
.filters-title{
    float: left;
    color: #ccc;
    font-size: 14px;
    font-family: 'OS bold';
}
.filters-reset-icon {
    float: left;
    width: 14px;
    height: 16px;
    margin-left: 14px;
    background: url('../images/filters-reset-icon.png') no-repeat;
    background-size: 14px 16px;
}
.filters-reset-icon:hover {
    cursor: pointer;
}
.filters-close-icon {
    float: right;
    width: 13px;
    height: 14px;
    margin-right:14px;
    background: url('../images/filters-close-icon.png') no-repeat;
    background-size: 13px 14px;
}
.filters-close-icon:hover {
    cursor: pointer;
}
.filters-horizontal-line{
    position: absolute;
    top: 52px;
    width: 214px;
    height: 1px;
    border: none;
    border-bottom: 1px solid #414141;
    margin-left: -4px;
}
/* checkbox filters*/
.filters{
    width:240px;
    margin-left: 0px;
    display: -webkit-flex;
    -webkit-flex-direction: row;
}
.filters-res {
    float: left;
}
.filters-fps {
    float: left;
    margin-left: 30px;
}
.filters-header{
    margin-left: -18px;
    font-size: 12px;
    color: #ccc;
}
.cb {
    width: 0px;
    margin: 0;
    padding: 0;
    opacity: 0;
}
.label-filters span {
    font-size: 13px;
    font-family: 'OS regular';
    color: #ccc;
    margin-left: 24px;  
    line-height: 12px;
}
.cb-filters + span {
    display:inline-block;
    margin-left: -18px;
    padding-left: 18px;
    background: url('../images/cb-unchecked.png') no-repeat 0 0;
    background-size: 12px;
}
.cb-filters:checked + span {
    background: url('../images/cb-checked-12.png') no-repeat 0 0;
    color: white;
}
.cb-filters:disabled + span {
    opacity: .5;
}
.rangeslider{
    color: white;
    width: 88%;
    outline: 0 !important;
    border: none;
}
.rangeslider-bg {
    position: relative;
    top: 20px;
    left: 27px;
    border-radius: 25px;
    background: #666;
    padding: 0px; 
    width: 160px;
    height: 4px;    
}
.rangeslider-header{
    margin-top: 18px;
    margin-bottom: -6px;
    margin-left: 23px; 
    font-size: 12px;
    font-family: 'OS bold';
    color: #ccc;
}
.rangeslider-label {
    position: absolute;
    margin-left: 25px;
    margin-top: -27px;
    font-size: 12px;
    font-family: 'OS regular';
    color: #ccc;
}
.rangeslider-label-right{
    position: absolute;
    margin-left: 170px;
    
}
.rangeslider-label-right label{
    color: #ccc;
}
.advanced-search-spacer{
    width: 200px;
    height: 100px;
    background-color: #262626;
    border: none;
    border-right: 1px solid #1d1d1d;
    overflow-x: hidden;
}
/* SIDEBAR */
.sidebar{
    position: fixed;
    top: 40px;
    height: 100%;
    min-height: 290px;
    width: 56px;
    background-color: #262626;
    border: none;
    border-right: 1px solid #1d1d1d;
    z-index: 4;
}
.sidebar-icons{
    margin-left: 17px;
    margin-top: 20px;
    width: 21px;
    height: 21px;
    border: none;
    background-image: url('../images/icons-sheet.png');  
    background-color: transparent;
}
.filters-icon {
    background-position: -21px 0px;
}
.downloads-icon {
     background-position: -84px 0px;
}
.imported-previews-icon {
     background-position: 0px  0px;
}
.progress-icon {
    float: right;  
    background-position: -63px 0px;
    margin-right: 144px;
    margin-top: 10px;
}
.sidebar-line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #1d1d1d;
    left:0px;
    bottom: 143px;
}
.destination-icon {
    position: absolute;
    background-position: -42px 0px;
    left:0px;
    bottom: 104px;
}
.sidebar-icons:hover{
    background-position-y: bottom;
    cursor: pointer;
}
/*toggle sidebar buttons*/
button.on {
    background-position-y: bottom;
}
 .sidebar-icons:active {
    background-position-y: bottom;
}

/* MAIN CONTENT */
.main-content {
    position: absolute;
    top: 72px;
    left: 65px;
    width: auto;
    overflow-y:inherit;
    background-color: #212121;
    z-index: -1;
}
.main-content-advanced-search {
    position: absolute;
    top: 72px;
    width: auto;/* good for tile lists, not good for lists*/
    background-color: #212121;
    left: 292px;
    z-index: -1;
}

/*TILES*/
.tile {
    position: relative;
    list-style-type: none;
    background-color: black;
    float: left;
    width: 190px;
    height: 105px;
    margin: 12px 0px 0px 12px;
    text-align: center;
    cursor: pointer;
}
.tile:hover {
    cursor: pointer;
}
.tile-img {
    width: 100%;
    height: 100%;
    clip: rect(0px, 190px, 105px, 0px);
}
.tile-opaque {
    position: absolute;
    background-color: #ffcc00;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.tile-menu {
    position: absolute;
    background-color: black;
    opacity: .8;
    bottom: 0px;
    width: 100%;
    height: 28px;
}
.tile-icons {
    position: absolute;
    width: 28px;
    height: 28px;
    bottom: 0px;
    background-repeat: no-repeat;
    background-position: top;
}
.tile-icons:hover {
    background-position: bottom;
}
.info-icon {
    left: 0px;
    background: url('../images/tile-icons/infoIcon.png') no-repeat center;
    background-size: 6px 13px;
    background-color: #353535;
}
.info-icon:hover {
    background-color: #8a8a8a;
    background-position: center;
}
.link-icon {
    left: 8px;
    background: url('../images/tile-icons/tile-link-28x56.png');
}
.cart-icon {
    left: 39px;
    background: url('../images/tile-icons/tile-cart-28x56.png');
}
.bin-icon {
    left: 70px;
    background: url('../images/tile-icons/tile-collection-28x56.png');
}
.trash-icon {
    right: 8px;
    background: url('../images/tile-icons/tile-trash-28x56.png');
}
.tile-addedtocart {
    position: absolute;
    width: 114px;
    height: 66px;
    background-color: #212121;
    border: none;
    margin-top: -70px;
    margin-left: 35px;
}
.tile-addedtocart p {
    position: absolute;
    width: 80px;
    height: 40px;
    color: white;
    font-size: 14px;
    font-family: 'OS semibold';
    margin-top: 9px;
    margin-left: 12px;
    line-height: 120%;
}
/*END TILE*/

/*list item, cart & downloads*/
.list-container {
     margin-top: 84px;
}
.list-item {
    height: 43px;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    margin-left: 56px;
    width: auto;
    background-color: #212121;
    border:none;
    border-bottom:1px solid #353535;
    font-family: 'OS regular';
    font-size: 12px;
    color: #d4d4d4;
}
.list-img {
    margin-left: 21px;
    width: 56px;
    height: 32px;
}
/*cart list item*/
.list-item-cart {
    min-width: 600px;
}
.list-item-name {
    position: absolute;
    width: 300px;
    margin-left: 120px;
    margin-top: -24px;
}
.list-item-vs {
    float: left;
    margin-top: 14px;
    text-align: right;
}
.list-item-price {
    float: left;
    width: 60px;
    margin-left: 48px;
    margin-top: 14px;
}
.list-trash-icon {
    float: left;
    margin-top: 8px;
    margin-left: 18px;
    margin-right: 20px;
    width: 14px;
    height: 28px;
    background: url('../images/tile-icons/tile-trash-28x56.png') no-repeat top;
    background-size: 28px;
}
.list-trash-icon:hover {
    background-position: bottom;
    cursor: pointer;
}
/*downloads list item*/
.list-item-downloads {
    min-width: 660px;
}
.list-item-transaction-id {
     float: left;
    margin-left: 30px;
    margin-top: 14px;
}
.list-item-expiration-date {
    float: left;
    margin-left: 30px;
    margin-top: 14px;
}
.list-versions-button {
    float: left;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 12px;
    background: none;
    border: none;
    color: #d4d4d4;
    font-family: "OS semibold";
    font-size: 12px;
    text-decoration: underline;
}
.list-versions-button:hover {
    color: white;
}
.list-img:hover {
    background-color: #666666;
    cursor: pointer;
}

/*FOOTER*/
.clear {
    clear: both;
    height: 47px;
}
.footer-row {
    position: fixed;
    border-top: thin solid #333333;
    border-bottom-color: black;
    background-color: #262626;
    width: 100%;
    min-width: 692px;
    height: 47px;
    bottom: 0;
    border: none;
    border-top: 1px solid #1d1d1d;
    z-index: 4;
}
.back-to-search{
    color: #d3d3d3;
    float: left;
    height: 47px;
    width: 154px;
    background-color: #353535 !important;
    background: url('../images/back-to-search-arrow.png') no-repeat;
    background-position: 16px;
    background-size: 6px 9px;
    border: none;
    font-family: "OS semibold";
    font-size: 12px;
}
.back-to-search:hover{
    background-color: #1d1d1d !important;
     cursor: pointer;
}
.back-to-search:disabled{
    background: url('../images/back-to-search-arrow-disabled.png') no-repeat;
    background-position: 16px;
    background-color: #353535 !important;
    color: #606060;
    cursor: default;
}

.back-to-search-label {
    margin-left: 10px;
    margin-top: 5px;
}
.back-to-search-label:hover {
    cursor: inherit;
}

/*COLLECTIONS LIST*/
.collections-list {
    float: left;
    margin-left: 4px;
    font-family: 'OS regular';
    font-size: 14px;
    color: #ccc;
}
.collections-list-footer {
    position: absolute;
    width: 181px;
    height: 47px;
    background-color: #353535 !important;
    background: url('../images/collections-list/collection-list-footer-icon.png') no-repeat;
    background-size: 17px 17px;
    background-position: 20px 14px;
}
.collections-list-footer:hover {
    background-color: #1d1d1d !important;
    cursor:pointer;
}
.collection-list-footer-name {
    margin-top: 14px;
    margin-left: 46px;
    font-family: 'OS semibold';
    font-size: 12px;
    color: #ccc;
}
.collection-list-footer-arrow-icon {
    position: absolute;
    width: 11px;
    height: 7px;
    margin-left: 152px;
    margin-top: -12px;
    background: url('../images/collections-list/collection-list-footer-arrow-icon.png');
    background-size: 11px 7px;
}
.collection-add-icon{
    position: absolute;
    margin-left:181px;
    height:47px;
    width: 47px;
    margin-top: 0px;
    background-color: #353535;
    border: none;
    border-left: 1px solid #464646;
    background-image: url('../images/collections-list/add-collection-icon.png');
    background-size: 47px;
}
.collection-add-icon:hover{
    background-color: #1d1d1d;
    cursor:pointer;
}
.collections-list-list {
    position: absolute;
    bottom: 47px;
    height: 203px;
    width: 228px;
    background-color: #353535;
    overflow-y: auto;
    overflow-x: hidden;
}
.collection-list-item {
    height: 33px;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    width: 198px;
    margin-left: 15px;
    background-color: #353535;
    border:none;
    border-bottom: 1px solid #464646;
   
}
.collection-list-free-items {
    position: absolute;
    bottom: 250px;
    height: 37px;
    width: 228px;
    background: url('../images/collections-list/collection-list-free-items.png');
    background-size: 228px 37px;
    background-position: center top;
}
.collection-list-free-items:hover {
    cursor: pointer;
}
.collection-list-free-items-label {
    position: relative;
    top: 8px;
    left: 35px;
    width: 228px;
    color: #1d84fa;
    font-family: "OS regular";
    font-size: 14px;
}
.collection-list-name {
    width: 150px;
    margin-top: 6px;
}
.collection-list-name:hover {
    font-family: 'OS bold';
    cursor:pointer;
}
.show-collection-icon {
    margin-left: 9px;
    margin-top: 10px;
    height: 13px;
    width: 13px;
    background: url('https://plugin.pond5.com/pond5_shared/images/collections-list/collections-list-show-collection-icon-13x26.png') no-repeat top;
    background-size: 13px;
}
.vertical-line-collection-list-item {
    height: 23px;
    background-color: #464646; 
    margin-left: 31px;
    margin-top: -50px;
}
.collection-list-trash-icon {
    margin-left:38px;  
    margin-top:7px;
    width: 14px;
    height: 28px;
    background: url('https://plugin.pond5.com/pond5_shared/images/tile-icons/tile-trash-28x56.png') no-repeat top;
    background-size: 28px;
}

.show-collection-icon:hover {
    cursor:pointer;
    background-position: bottom;
}
.collection-list-trash-icon:hover {
    background-position: bottom;
    cursor:pointer;
}
.list-img {
    margin-left: 21px;
    width: 56px;
    height: 32px;
}
/*cart list item*/
.list-item-cart {
    min-width: 600px;
}

.vertical-line-cart{
    top: 7px;
    width: 1px;
    background-color: white;
    height: 16px; 
}
.replace-button {
    color: #d3d3d3;
    background-color: #353535;
    border: none;
    min-width: 200px;
    float: right;
    height: 47px;
    width: 154px;
    font-family: "OS semibold";
    font-size: 12px;
}
.replace-button:hover {
    background-color: #1d1d1d;
}
.promocode-button {
    color: #d3d3d3;
    background-color: #353535;
    border: none;
    min-width: 115px;
    float: left;
    height: 47px;
    width: 115px;
    font-family: "OS semibold";
    font-size: 12px;
}
.promocode-button:hover {
    background-color: #1d1d1d;
} 
.checkout-wrapper{
    float: right;
    height: 47px;
    width: 302px;
}
.checkout-button {
    color: #262626;
    background-color: #ffad00;
    border: none;
    float: right;
    height: 47px;
    width: 181px;
    font-family: "OS semibold";
    font-size: 12px;
}
.checkout-button:hover {
    background-color: darkorange;
}
.cart-info-icon {
    float: left;
    bottom: 0px;
    width: 47px;
    height: 47px;
    margin-left: 5px;
    border: none;
    outline: none;
    background: url('../images/cart-info-icon-spritesheet.png') top;
    background-color: #ffad00;
}
.cart-info-icon:hover {
    background-color: darkorange;
    cursor: pointer;
}
.cart-info {
    position: absolute;
    right: 0px;
    width: 181px;
    height: 117px;
    color: #191919;
    font-size: 14px;
    bottom: 47px;
    font-family: 'OS semibold';
    background-color: white;
}

.cart-info-no-vat {
    height: 117px;
}
.cart-info-vat {
    height: 144px;
}

.cart-info-labels-sub-credits{
    position: absolute;
    float:left;
    left: 14px;
    top: 14px;
    line-height: 22px;
}
.cart-info-values-sub-credits{
    position: absolute;
    float:left;
    left: 108px;
    top: 14px;
    line-height: 22px;
}

.cart-info-labels-VAT {
    position: absolute;
    float:left;
    left: 14px;
    top: 40px;
}
.cart-info-values-VAT {
    position: absolute;
    float:left;
    left: 108px;
    top: 60px;
}
.cart-info-line {
    position: absolute;
    top: 62px;
    left: 14px;
    height: 1;
    width: 154px;
    border:none;
    background: transparent;
    border-bottom: 1px solid #191919;
}
.cart-info-line-no-vat {
    top: 62px;
}
.cart-info-line-vat {
    top: 89px;
}
.cart-info-labels-total{
    position: absolute;
    float:left;
    left: 14px;
    top: 70px;
    font-family: 'OS bold';
}
.cart-info-values-total{
    position: absolute;
    float:left;
    left: 108px;
    top: 70px;
    font-family: 'OS bold';
}
.cart-info-total-no-vat{
    top: 70px;
}
.cart-info-total-vat{
    top: 97px;
}
.cart-info-labels-remaining{
    position: absolute;
    float:left;
    left: 14px;
    top: 94px;
    font-size: 12px;
    font-family: 'OS regular';
}
.cart-info-remaining-no-vat{
    top: 94px;
}
.cart-info-remaining-vat{
    top: 121px;
}

/*PROGRESS*/
.progress-view {
    position: fixed;
    top: 83px;
    right: 360px;
     z-index: 5;
}
.progress-collapse {
    position: absolute;
    width: 340px;
    background-color: #3e3e3e;
    border: none;
}
.progress-title {
    position: absolute;
    margin-top: 0px;
    margin-left: 6px;
    color: #8a8a8a ;
    font-family: 'OS bold';
    font-size: 12px;
}
.progress-menu {
    position: absolute;
    margin-top: -4px;
    left: 110px;
}
.progress-buttons {
    background: none;
    border: none;
    color: white;
    font-family: "OS semibold";
    font-size: 12px;
    text-decoration: underline;
}
.progress-buttons:hover {
    color: #cccccc;
}
.progress-buttons:disabled {
    color: #ccc;
}
.progress-cancel-all {
    margin-top: 2px;
} 
.progress-clear {
    margin-top: 2px;
}
.progress-close {
    float: right;
    margin-top: 4px;
    margin-right: 5px;
    width: 11px;
    height: 11px;
}
.progress-close:hover {
    opacity: .7;
    cursor: pointer;
}
.progress-disabled {
    opacity: 0.6;
}
.progress-list {
    margin-top: 24px;
    margin-left: 6px;
    width: 312px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
.progress-item {
    position: relative;
    list-style-type: none;
    background-color: #616161;
    border: none;
    outline: none;
    width: 302px;
    height: 28px;
    margin-bottom: 4px;
}
.progress-bar-plus {
    background-color: #1d84fa;
}
.progress-name {
    position: absolute;
    float: left;
    width: 190px;
    margin-left: 10px;
    margin-top: 5px;
    font-family: 'OS regular';
    font-size: 12px;
    color: white;
    text-align: left;
}
.progress-mb {
    position: absolute;
    float: right;
    margin-top: 5px;
    right: 0px;
    font-family: 'OS semibold';
    font-size: 12px;
    color: white;
    text-align: right;
}
.progress-mb-preview {
    margin-right: 10px;
}
.progress-mb-purchase {
    margin-right: 38px;
}

.progress-mb-p {
    text-align: right;
}
.progress-delete {
    position: absolute;
    float: right;
    right: 0px;
    width: 28px;
    height: 28px;
    margin-left: 20px;
    margin-top: 0px;
    border: none;
    outline: none;
    background: url('../images/tile-icons/trashIconSpritesheet28.png') no-repeat center top;
    background-color: #8a8a8a;
    background-size: 28px;
}
.progress-delete:hover {
    background-color: black;
    cursor: pointer;
}
/*END PROGRESS*/

/*PREVIEW*/
.preview {
    position: fixed;
    background-color: transparent;
    width: 370px;
    height: 340px;
    top: 20px;
    z-index: 6000;
}
.preview-top {
    width: 370px;
    height: 270px;
    background-color: white;
}
.video-frame {
    background-color: white;
    width: 370px;
    height:270px;
    overflow: hidden;
}
.preview-loading {
    position: absolute;
    top: 140px;
    left: 140px;
    color: #191919;
}
.audio-frame {
    position: relative;
    margin-top: 0px;
    width: 370;
}
.photo-frame {
    position: relative;
    margin-top: 0px;
    width: 370;
}
#tracktime {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1px;
    height: 100%;
    background: red;
}
/* preview info below media */
.preview-info {
    width: 100%;
    height: 57px;
    background-color: red;
}
.preview-title {
    position: absolute;
    bottom: 88px;
    left: 18px;
    font-size: 18px;
    font-family: 'OS regular';
    color: #191919;
}
.preview-price {
    position: absolute;
    left: 265px;
    width: 100px;
    text-align: center;
    font-size: 20px;
    font-family: 'OS regular';
    color: #191919;
}
.preview-price-single {
    font-size: 20px;
    bottom: 86px;
}
.preview-price-double {
    font-size: 16px;
    bottom: 88px;
}
.preview-fps {
    position: absolute;
    bottom: 74px;
    left: 18px;
    font-size: 9px;
    color: #8a8a8a;
    font-family: 'OS bold';
}
.preview-res {
    position: absolute;
    bottom: 74px;
    left: 265px;
    width: 100px;
    text-align: center;
    font-size: 11px;
    color: #7F7F7F;
    font-family: 'OS bold';
}
.vertical-line-preview-top{
    position: absolute;
    height: 45px;
    background-color: #8a8a8a; 
    margin-left: 272px;
    bottom: 78px;
}
.preview-bottom {
    position: absolute;
/*    bottom: 0px;*/
    width: 370px;
    height: 70px;
    background-color: #ccc;
    font-family: 'OS regular';
    font-size: 11px;
    color: black;
    text-align: left;
}

.preview-bottom-left-labels{
    float: left;
    margin-left: 14px;
    margin-top: 12px;
}
.preview-bottom-left-values{
    float: left;
    margin-left: 7px;
    margin-top: 12px;
}
.preview-bottom-right-labels{
    float: left;
    margin-left: 62px;
    margin-top: 12px;
}
.preview-bottom-right-values{
    float: left;
    margin-left: 7px;
    margin-top: 12px;
}
.vertical-line-preview-bottom{
    position: absolute;
    height: 50px;
    background-color: #8a8a8a; 
    margin-left: 185px;
    bottom: 9px;
}
/*MODAL REPLACE*/
.replace-titles {
    display: -webkit-flex;
    -webkit-flex-direction: row;  
}
.replace-titles {
    font-family: 'OS regular';
    font-size: 12px;
    color: #ffad00;
}
.replace-title-name {
    position: absolute;
    left: 102px;
}
.replace-title-res {
    position: absolute;
    left: 259px;
}
.replace-title-price {
    position: absolute;
    left: 370px;
}
.replace-title-cart {
    position: absolute;
    left: 429px;
}
.replace-title-downloads {
    position: absolute;
    left: 490px;
}
.replace-lines {
    width: 552px;
    height: 1px;
    background-color: transparent;
    background-size: 552px 1px;
}
.replace-titles-lines {
    margin-left: 36px;
    margin-top: 22px;
    margin-bottom: 6px;
    background: url('../images/replace-titles-lines.png') no-repeat center top;
}
.replace-grey-lines {
    margin-left: -19px;
    margin-top: 27px;
    margin-bottom: -24px;
    background: url('../images/replace-grey-lines.png') no-repeat center top;
}
.replace-price {
    position: absolute;
    left: 380px;
    margin-top: 2px;
    color: #8a8a8a;
    font-family: 'OS regular';
    font-size: 12px;
}
.replace-line {
    clear: both;
    margin: 0;
    display: block;
    background-color: #ccc;
    height: 1px;
}
.replace-incart {
    position: absolute;
    left: 466px;
    margin-top: 3px;
}
.replace-indownloads {
    position: absolute;
    margin-top: 3px;
    left: 547px;
}
.modal-footer-text {
    float: left;
    margin-left: 40px;
}
.replace-continue {
    margin-right: 20px;
}
.cb-modal + span {
    display:inline-block;
    margin-left: -18px;
    padding-left: 18px;
    background: url('../images/cb-replace-unchecked.png') no-repeat 0 0;
    background-size: 12px;
}
.cb-modal:checked + span {
    background: url('../images/cb-checked-12.png') no-repeat 0 0;
    color: white;
}
.cb-modal:disabled + span {
    opacity: .5;
}
.rb {
    width: 0px;
    margin: 0;
    padding: 0;
    opacity: 0;
}
.rb + span {
    display:inline-block;
    margin-left: -18px;
    padding-left: 18px;
    line-height: 14px;
    background: url('../images/rb-replace-unchecked.png') no-repeat 0 0;
    background-size: 14px;
}
.rb:checked + span {
    background: url('../images/rb-replace-checked.png') no-repeat 0 0;
    color: white;
}
.rb:disabled + span {
    opacity: .6;
}
.rb-replace-res {
    margin-left: 176px;
}
.modal-replace-format {
    margin-top: -25px;
    margin-bottom: -24px;
}
.modal-replace-main {
    margin-top: 14px;
    margin-bottom: 24px;
}
.modal-replace-main-top {
    margin-top: -14px;
}
/*CHOOSE FORMAT MODAL*/
.rb-choose-format {
    margin-left: 50px;
}
.choose-format-label-price {
    margin-left: 30px;
}
/*LOGIN MODAL*/
.login {
	display: -webkit-flex;
    -webkit-flex-direction: column;
	-webkit-align-items: center;
	-webkit-box-alcbign: center;
	align-items: center;   
}
.modal-title-login {
    font-size: 21px;
}
.login-label {
    margin-top: 6px;
    margin-left: -138.5px;
    color: #191919;
    font-size: 11px;
    font-family: "modalMessage";
}
.login-field {
    font-family: 'OS regular';
    font-size: 14px;
    padding-left: 12px;
    width: 280px;
    height: 44px;
}
.login-field-password {
   margin-top: 14px;
}
.login-button-modal {
    margin-top: 4px;
}
.login-sign-up{
    color: white;
    margin-top: -8px;
    margin-bottom: 32px;
}
.promocode-confirm-text {
    color: white;
    margin-top: 28px;
}
/* billing info modal*/
.add-new-billing-button {
    background: none;
    border: none;
    text-decoration: underline;
    color: white;
    font-size: 11px;
    float:left;
    margin-top: -8px;
    margin-left: 20px;
}
.label-billing-agree span {
    font-size: 12px;
    font-family: 'OS regular';
    color: #fff;
    line-height: 12px;
}
.label-billing-adyen {
    font-size: 12px;
    font-family: 'OS regular';
    color: #8a8a8a;
    margin-left:10px;
}
.button-proceed-checkout {
    color: #262626;
    margin-top: -30px;
    margin-bottom: -15px;
}
.button-proceed-checkout:hover {
    color: #262626;
    background-color: darkorange;
}
.billing-horizontal-line {
    border: 0;
    border-top: 1px solid #353535;
    width: 100%;
    margin-top: -10px;
/*    margin-bottom: -10px;*/
}
.add-new-billing-back-button {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}
/* modal add/update billing info */
.billing-field {
/*    float:left;*/
    font-family: 'OS regular';
    font-size: 13px;
    padding-left: 12px;
    width: 187px;
    height: 26px;
    margin-top: 10px;
    outline: 0;
    border: 0;
    border-bottom: 3px solid white;
    margin-left: 10px;
    margin-bottom: 0px;
    background-color: white;
}

.billing-field.ng-required {
    background: url('../images/asterisk.png') no-repeat 100% 50%;
    background-color: white;
}
.billing-field.required {
    padding-right: 26px;
    background: url('../images/asterisk.png') no-repeat;
    background-color: white;
    background-position: right top;
}
form .ng-pristine {
    border-color: white;
}
form .ng-touched.ng-invalid {
    border-bottom-color: red;
}
form .billing-field.ng-valid {
    background: none; 
    background-color: white;
}
.dropdown-billing {
    margin-left: 10px;
    font-family: 'OS regular';
    font-size: 13px;
    padding-left: 12px;
    padding-right: 28px;
    height: 26px;
    width: 187px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background: url('../images/billing-dropdown-symbols-required.png') no-repeat 100% 50%;
    background-color: white;
    border: 0;
    border-bottom: 2px solid white;
}
.dropdown-billing.ng-valid {
    background: url('../images/billing-dropdown-arrow.png') no-repeat 100% 50%;
    background-color: white;
   
}
.billing-error {
    position: absolute;
    width:100%;
    height: 40px;
    font-family: 'OS regular';
    font-size: 14px;
    color: white;
    background-color: #f92807;
    margin-top:-40px;
}
/*adyen*/
iframe {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 20;
}

/*alerts */
.alert {
    position: fixed;
    top: 80px;
    left:100px;
    z-index: 30;
}
